# Backup
*~

# Build artefacts
**/target
*.class
**/bin/
**/dependency-reduced-pom.xml
**/pom.xml.releaseBackup
**/release.properties

### IntelliJ IDEA ###
/.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.project
.classpath
.metadata/
.settings/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
